<h1><%= @user.name %>のページ</h1>
<% if @user.myimage && @user.myimage.url %>
        <%= image_tag @user.myimage.url, class: "card-img-bottom" %>
<% end %>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to "編集", edit_user_path(current_user)  %>
