html {
  background-color: #f0f2f5;
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  background-color: #f0f2f5;
}

header {
  height: 50px;
  line-height: 50px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 5;
  display: flex;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
}
nav li a {
  display: block;
}

nav ul li {
  padding: 0 20px;
}

.header_logo {
  font-family: cursive;
  font-size: 1.7rem;
  margin-left: auto;
}

.flash {
  color: red;
}

.form_error_m {
  margin-top: 20px;
  color: red;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: #f0f2f5;
}

.card-columns {
  display: inline-block;
}

@media (max-width: 1400px) {
  .card-columns {
    column-count: 2;
  }
}

.form_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.form_content p {
  font-family: cursive;
  font-size: 2.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.login_form {
  width: 350px;
  height: 400px;
  background-color: #ffffff;
  padding: 0 50px;
  border: solid 1px;
}

.sign_form {
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  padding: 0 50px;
  border: solid 1px;
}

.account_error_m {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: #f0f2f5;
  color: red;
}

.wrap {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  display: block;
  padding: 30px;
  width: calc((100% - 30px * 2) / 3);
  background-color: #fff;
}

.post_img {
  width: 100%;
  display: block;
}

.show_wrap {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.show_item {
  padding: 30px;
  width: 80%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.show_img_space {
  width: 100%;
  margin: 0 auto;
}

.show_img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.show_attribute {
  margin-left: 20px;
  width: 100%;
  position: relative;
}

.show_menu {
  position: absolute;
  bottom: 0;
}

.post_form_outer {
  padding-top: 50px;
}

@media not all and (min-width: 768px) {
  .item {
    width: 100%;
  }
}
