<div class="wrap">
  <% @posts.each do |post| %>
    <div class="item">
      <%= link_to post_path(post.id), class: "" do %>
        <% if post.picture? %>
          <%= image_tag post.picture.url, class: "post_img"%>
        <% else %>
          <%= post.content %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

