<div class="wrap">
  <% @posts.each do |post| %>
    <div class="item">
    <% if post.picture? %>
      <%= image_tag post.picture.url %>
    <% end %>
      <p>投稿者:<%= post.user.name %><br>
              <%= l post.created_at, format: :long %><br>
              <%= post.content %></p>
    </div>
  <% end %>
</div>

